extends ../templates/layout

block main
  - var boxIconItems = [{ title: "Limpieza de radiadores", text: "Hidrolavá los radiadores para prevenir problemas de sobrecalentamiento.", icon:"https://storage.pardot.com/735253/1732720443RU9HoPTg/PIC_gota_icono_silueta_verde.png"},{ title: "Cambio de aceite y filtros", text: "Asegurá el reemplazo de aceite y filtro para mantener su rendimiento.", icon:"https://storage.pardot.com/735253/17327205257GFe2OIA/PIC_cilindro_aceite_icono_silueta_verde.png"},{ title: "Ventilación de Sala", text: "Asegurá la correcta ventilación de la sala de máquinas.", icon:"https://storage.pardot.com/735253/1732720628CclTAPcz/PIC_aire_icono_silueta_verde.png"}]

  +separator()
  +paragraph("Hola {{Recipient.FirstName}}")
  +separator("8")
  +paragraph(`El verano está cada vez más cerca, y con él, la probabilidad de interrupciones en el suministro eléctrico. Por eso, <strong>es muy importante que sigas estos consejos</strong> para cuidar y prolongar la vida útil de tu compresor de aire:`)
  +separator("20")
  +threeBoxTextIcon(boxIconItems)
  +separator("28")
  +paragraph("Estas acciones maximizan el rendimiento de tu equipo y previenen imprevistos. ¿Tenés dudas sobre cómo realizarlas? Nuestro equipo técnico está disponible para asesorarte en su implementación.")
  +separator("8")
  +paragraph(`<a style="color: #2D2D2D; font-family: Arial, Helvetica, sans-serif;" href="#" target="_blank" ><strong>Hacé clic acá para recibir asesoramiento telefónico.</strong></a>`)
  +separator("16")
  tr
    td(style='background-color: #F2F2F2;' valign='middle')
      table(align='center' bgcolor='#F2F2F2' border='0' cellpadding='0' cellspacing='0' style='background-color: #F2F2F2;' valign='middle')
        tbody
          tr
            td(colspan='3' height='16') &nbsp;
          tr
            +paragraph("Si querés más información sobre tu compresor de aire, accedé a su manual digital:")
          tr
            td(colspan='3' height='0') &nbsp;
  tr
    td(style='background-color: #F2F2F2;' valign='middle')
      table(align='center' bgcolor='#F2F2F2' border='0' cellpadding='0' cellspacing='0' style='background-color: #F2F2F2;' valign='middle')
        tbody
          tr
          +callToAction("Descargar manual", "#")
          tr
            td(colspan='3' height='16') &nbsp;
            

