extends ../templates/layout

block main
  +separator("12")
  +title("Nuevo manipulador para el agro")
  +separator("0")
  +title("Una inversión en eficiencia y productividad", "sm", "normal")
  +separator("8")
  +imageSection("https://storage.pardot.com/735253/1739979721Z33cZoil/IMG_tractor_amarillo_fondo_paisaje_900x500.png")
  +separator("12")
  +paragraph("Más que un tractor, más que una pala, más que una grúa. O todo eso junto y mucho más. De eso se trata el manipulador telescópico Dieci Zeus 37.7, un equipo que por su versatilidad, potencia y maniobrabilidad, se convierte en la herramienta perfecta para aumentar la eficiencia en el sector agropecuario.")
  +separator("24")
  +threeBoxTextIcon([
    {text: "25% a 40% más de potencia que otros manipuladores", icon: "https://www2.sullairargentina.com/l/735253/2025-02-21/498n4t/735253/1740146359vEMPeTut/PIC_rayo_circulo_verde_fondo_transparente.png"},
    {text: "Tres tipos de dirección y tracción 4x4 permanente", icon: "https://www2.sullairargentina.com/l/735253/2025-02-21/498n4q/735253/1740146359UB89DwZa/PIC_tractor_verde_fondo_transparente.png"},
    {text: "Buena altura libre del chasis. Hasta 60 cm de despeje", icon: "https://www2.sullairargentina.com/l/735253/2025-02-21/498n4m/735253/1740146359NSoTW5bk/PIC_flecha_arriba_abajo_verde_fondo_transparente.png"}
  ])
  +separator("20")
  +callToAction("Conocé más", "#")
  +separator("28")
  +twoArticlesBlog([
    {
      image: "https://storage.pardot.com/735253/1739979841JA6n09Ea/IMG_tractor_amarillo_semillas.png",
      text: "Mirá cómo nuestras soluciones para la actividad agropecuaria ayudaron a tener mayor eficiencia.",
      link: "https://blog.sullairargentina.com/articulo/143/soluciones-creativas-para-la-actividad-agropecuaria/?utm_source=pardot"
    },
     {
      image: "https://www2.sullairargentina.com/l/735253/2025-02-12/497l7j/735253/17393407820M3Qej2A/IMG_expo_agro_fondo_negro.png",
      text: "Expo Agro 2025 (11 al 14/03, San Nicolás): Acercate al stand 301 a conocer este equipo y mucho más.",
      link: "https://www.expoagro.com.ar/?utm_source=pardot"
    }
  ])
  +separator("16")
