extends ../templates/layout
block main
  +separator("20")
  +title('Últimas novedades del Blog', "xl")
  +separator("15")
  +title("Confiabilidad y rápida respuesta: factores clave para NRG Argentina.", "lg", "400")
  +separator("20")
  +imageSection("https://www2.sullairargentina.com/l/735253/2024-10-31/48xfv4/735253/1730381068l0asCL97/S_energy_edit.jpg")
  +separator("20")
  +paragraph("Cuando los proyectos industriales demandan generación de aire por tiempos prolongados o cuando las plantas necesitan tener instalados estos equipos de forma permanente, llega el momento de tomar una decisión importante: invertir en tecnología. La búsqueda de una mayor eficiencia energética es otro factor que impulsa también hoy en día la adquisición de nuevos equipos de aire comprimido: del costo inicial al ahorro a mediano y largo plazo...")
  +separator("20")
  +callToAction('Ver nota completa', "https://blog.sullairargentina.com/articulo/167/confiabilidad-y-rapida-respuesta-la-formula-de-sullair-para-el-sector-minero")
  +separator("30")
  +title("Últimas notas", "lg")
  +separator("20")
  +threeArticlesBlog([
    {
      image: "https://storage.pardot.com/735253/1739979841JA6n09Ea/IMG_tractor_amarillo_semillas.png",
      text: "Mirá cómo nuestras soluciones para la actividad agropecuaria ayudaron a tener mayor eficiencia.",
      description: "Mira esta Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.",
      link: "https://blog.sullairargentina.com/articulo/143/soluciones-creativas-para-la-actividad-agropecuaria/?utm_source=pardot"
    },
     {
      image: "https://www2.sullairargentina.com/l/735253/2025-02-12/497l7j/735253/17393407820M3Qej2A/IMG_expo_agro_fondo_negro.png",
      text: "Expo Agro 2025 (11 al 14/03, San Nicolás): Acercate al stand 301 a conocer este equipo y mucho más.",
      description: "Mira esta Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.",
      link: "https://www.expoagro.com.ar/?utm_source=pardot"
    },
    {
      image: "https://www2.sullairargentina.com/l/735253/2025-02-12/497l7j/735253/17393407820M3Qej2A/IMG_expo_agro_fondo_negro.png",
      text: "Expo Agro 2025 (11 al 14/03, San Nicolás): Acercate al stand 301 a conocer este equipo y mucho más.",
      description: "Mira esta Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.",
      link: "https://www.expoagro.com.ar/?utm_source=pardot"
    }
  ])
  +separator("40")