extends ../templates/layout
block main
  +separator("20")
  +title('Últimas novedades del Blog', "xl")
  +separator("15")
  +title("Confiabilidad y rápida respuesta: factores clave para NRG Argentina.", "lg", "400")
  +separator("20")
  +imageSection("https://www2.sullairargentina.com/l/735253/2024-10-31/48xfv4/735253/1730381068l0asCL97/S_energy_edit.jpg")
  +separator("20")
  +paragraph("Cuando los proyectos industriales demandan generación de aire por tiempos prolongados o cuando las plantas necesitan tener instalados estos equipos de forma permanente, llega el momento de tomar una decisión importante: invertir en tecnología. La búsqueda de una mayor eficiencia energética es otro factor que impulsa también hoy en día la adquisición de nuevos equipos de aire comprimido: del costo inicial al ahorro a mediano y largo plazo...")
  +separator("20")
  +callToAction('Ver nota completa', "https://blog.sullairargentina.com/articulo/167/confiabilidad-y-rapida-respuesta-la-formula-de-sullair-para-el-sector-minero")
  +separator("30")
  +title("Últimas notas", "lg")
  +separator("20")
  +threeArticlesBlog()
  +separator("40")