include ../../mixins/mixins

+title("Descubrí la amplia gama de compresores de aire", "sm")
+separator("12")
+paragraph("<strong>Fabricamos, distribuimos y alquilamos compresores de aire y generadores de nitrógeno en Argentina y países vecinos.</strong> Nuestra línea incluye modelos de velocidad fija y variable, además de secadores y filtros para un aire comprimido de calidad, garantizando eficiencia y confiabilidad en cada proyecto.")
+separator("20")
+threeBoxTextIcon([{
  title: "Eficiencia energética",
  text: "Modelos de velocidad variable para optimizar el consumo.",
  icon: "https://www2.sullairargentina.com/l/735253/2025-04-14/49fxf5/735253/1744640526tmNpABri/PIC_bateria_verde.png"
}, {
  title: "Durabilidad y resistencia",
  text: "Diseñados para un rendimiento confiable en cualquier entorno.",
  icon: "https://www2.sullairargentina.com/l/735253/2025-04-14/49fxf8/735253/1744640649B8lTsZAZ/PIC_escudo_check_verde_.png"
}, {
  title: "Tecnología avanzada",
  text: "Equipos innovadores para mayor productividad.",
  icon: "https://www2.sullairargentina.com/l/735253/2025-04-14/49fxjv/735253/1744640760VNdK1HZ1/PIC_chip_memoria_verde.png"
}])
+separator("20")
+paragraph("Contactános hoy para conocer nuestras soluciones en compresores de aire:")
+separator("16")
+callToAction("Contáctanos", "https://www.sullairargentina.com/contacto/?utm_source=pardot")
+separator("20")
+paragraph("Conocé todas las opciones:", "lg")
+separator("16")
+twoProductsFamily([
  {
    title: "Compresores Oil Free",
    link: "http://sullairargentina.com/equipos/compresores-de-aire/compresores-oil-free/?utm_source=pardot",
  },
  {
    title: "Compresores Diesel portátiles",
    link: "https://www.sullairargentina.com/equipos/compresores-de-aire/portatiles/?utm_source=pardot",
  },
])
+separator("4")
+twoProductsFamily([
  {
    title: "Compresores eléctricos estacio...",
    link: "https://www.sullairargentina.com/equipos/compresores-de-aire/electricos-estacionarios/?utm_source=pardot",
  },
  {
    title: "Generadores de Nitrógeno",
    link: "https://www.sullairargentina.com/equipos/compresores-de-aire/generadores-de-nitrogeno/?utm_source=pardot",
  },
])
+separator("4")
+twoProductsFamily([
  {
    title: "Tratamiento de aire comprimido",
    link: "https://www.sullairargentina.com/equipos/compresores-de-aire/tratamiento-de-aire-comprimido/?utm_source=pardot",
  }
])
  






