include ../../mixins/mixins

+title("Energía confiable con grupos de alta performance", "sm")
+separator("12")
+paragraph("Ofrecemos más de <strong>45 modelos de grupos electrógenos diésel y a gas</strong> con potencias que van desde 20 kVA hasta 3000 kVA. Además, somos distribuidores exclusivos de la reconocida marca <strong>Cummins Power Generation</strong>, garantizando calidad y confiabilidad en cada proyecto.")
+separator("20")
+threeBoxTextIcon([{
  title: "Versatilidad operativa",
  text: "Equipos que funcionan en isla o en paralelo, adaptándose a diferentes necesidades energéticas.",
  icon: "https://www2.sullairargentina.com/l/735253/2025-04-14/49fxp8/735253/1744641416KWCTZZaA/PIC_formas_verde.png"
}, {
  title: "Amplia gama de potencias",
  text: "Montados sobre trineos fijos, tráilers y opciones con cabinas insonorizadas para intemperie.",
  icon: "https://www2.sullairargentina.com/l/735253/2025-04-14/49fxr5/735253/1744644166DeOfSZhk/PIC_cuadrado_verde_flechas.png"
}, {
  title: "Soporte integral",
  text: "Servicios de recarga de combustible, operación in situ y guardias mecánicas para asegurar un rendimiento óptimo.",
  icon: "https://www2.sullairargentina.com/l/735253/2025-04-14/49fxr2/735253/1744644166jjO1dVDE/PIC_disco_verde_con_negro.png"
}])
+separator("20")
+paragraph("Contactános hoy para conocer nuestras soluciones en grupos electrógenos y garantizar energía ininterrumpida en tus operaciones:")
+separator("16")
+callToAction("Contáctanos", "https://www.sullairargentina.com/contacto/?utm_source=pardot")
+separator("20")
+paragraph("Conocé todas las opciones:", "lg")
+separator("16")
+twoProductsFamily([
  {
    title: "Diesel",
    link: "https://www.sullairargentina.com/equipos/grupos-electrogenos/diesel/?utm_source=pardot",
  },
  {
    title: "Gas para servicio continuo",
    link: "https://www.sullairargentina.com/equipos/grupos-electrogenos/a-gas-para-servicio-continuo/?utm_source=pardot",
  },
])
