include ../../mixins/mixins

+title("Manipuladores versátiles para elevar tu productividad", "sm")
+separator("12")
+paragraph("<strong>Equipos telescópicos y compactos</strong> ideales para levantar, mover y posicionar cargas, incluso en espacios reducidos. Nuestros manipuladores ofrecen <strong>gran alcance y estabilidad</strong>, lo que los hace perfectos para industrias como la construcción, minería, Oil & Gas y agro. ")
+separator("20")
+threeBoxTextIcon([{
  title: "Diseño adaptable",
  text: "Operación eficiente en diferentes superficies y espacios.",
  icon: "https://www2.sullairargentina.com/l/735253/2025-04-14/49fxzg/735253/1744647517NrlPOwlj/PIC_cuadrados_adaptable_verde.png"
}, {
  title: "Accesorios multifunción",
  text: "Herramientas intercambiables para diversas tareas.",
  icon: "https://www2.sullairargentina.com/l/735253/2025-04-14/49fxzk/735253/1744647517YPZaSjCW/PIC_maletin_verde.png"
}, {
  title: "Operatividad todo terreno",
  text: "Tracción en las cuatro ruedas para máxima movilidad.",
  icon: "https://www2.sullairargentina.com/l/735253/2025-04-14/49fxzn/735253/1744647517nYczEnki/PIC_elevador_verde.png"
}])
+separator("20")
+paragraph("Contactános hoy y encontrá la solución ideal en manipuladores para tu industria:")
+separator("16")
+callToAction("Contáctanos", "https://www.sullairargentina.com/contacto/?utm_source=pardot")
+separator("20")
+paragraph("Conocé todas las opciones:", "lg")
+separator("16")
+twoProductsFamily([
  {
    title: "Compactos",
    link: "https://www.sullairargentina.com/equipos/manipuladores/manipuladores-compactos/?utm_source=pardot",
  },
  {
    title: "Telescópicos",
    link: "https://www.sullairargentina.com/equipos/manipuladores/manipuladores-telescopicos/?utm_source=pardot",
  },
])
