include ../../mixins/mixins

+title("Potenciá tu obra con equipos de tierra eficientes y confiables", "sm")
+separator("12")
+paragraph("Ofrecemos alquiler y venta de equipos usados para movimiento de tierra, respaldados por asesoramiento técnico especializado para satisfacer las necesidades específicas de cada proyecto.")
+separator("20")
+threeBoxTextIcon([{
  title: "Versatilidad",
  text: "Equipos aptos para obras urbanas y proyectos de gran escala.",
  icon: "https://www2.sullairargentina.com/l/735253/2025-04-14/49fxp8/735253/1744641416KWCTZZaA/PIC_formas_verde.png"
}, {
  title: "Variedad de opciones",
  text: "Amplia gama de maquinaria para diversas aplicaciones.",
  icon: "https://www2.sullairargentina.com/l/735253/2025-04-14/49fxpc/735253/1744641416eHCor6MF/PIC_lista_check_verde.png"
}, {
  title: "Soporte técnico especializado",
  text: "Asesoramiento y presencia técnica in situ para garantizar el éxito de cada proyecto.",
  icon: "https://www2.sullairargentina.com/l/735253/2025-04-14/49fxpg/735253/17446414167uCE6viI/PIC_audifonos_persona_verde.png"
}])
//- +twoBoxTextIcon([{
//-   title: "Versatilidad",
//-   text: "Equipos aptos para obras urbanas y proyectos de gran escala.",
//-   icon: "https://www2.sullairargentina.com/l/735253/2025-04-14/49fxp8/735253/1744641416KWCTZZaA/PIC_formas_verde.png"
//- }, 
//- {
//-   title: "Soporte técnico especializado",
//-   text: "Asesoramiento y presencia técnica in situ para garantizar el éxito de cada proyecto.",
//-   icon: "https://www2.sullairargentina.com/l/735253/2025-04-14/49fxpg/735253/17446414167uCE6viI/PIC_audifonos_persona_verde.png"
//- }
//- ])
+separator("20")
+paragraph("Contactános hoy para recibir asesoramiento de cómo aprovechar nuestras soluciones:")
+separator("16")
+callToAction("Contáctanos", "https://www.sullairargentina.com/contacto/?utm_source=pardot")
+separator("20")
+paragraph("Conocé todas las opciones:", "lg")
+separator("16")
+twoProductsFamily([
  {
    title: "Camiones articulados",
    link: "https://www.sullairargentina.com/equipos/movimiento-de-tierra/camiones-articulados/?utm_source=pardot",
  },
  {
    title: "Camiones rígidos",
    link: "https://www.sullairargentina.com/equipos/movimiento-de-tierra/camiones-rigidos/?utm_source=pardot",
  },
])
+separator("4")
+twoProductsFamily([
  {
    title: "Camiones Volcadores",
    link: "https://www.sullairargentina.com/equipos/movimiento-de-tierra/camiones-volcadores/?utm_source=pardot",
  },
  {
    title: "Cargadoras frontales",
    link: "https://www.sullairargentina.com/equipos/movimiento-de-tierra/cargadoras-frontales/?utm_source=pardot",
  },
])
+separator("4")
+twoProductsFamily([
  {
    title: "Cargadoras frontales con retroe...",
    link: "https://www.sullairargentina.com/equipos/movimiento-de-tierra/cargadoras-con-retroexcavadora/?utm_source=pardot",
  },
  {
    title: "Compactadoras de asfalto",
    link: "https://www.sullairargentina.com/equipos/movimiento-de-tierra/compactadoras-de-asfalto/?utm_source=pardot",
  },
])
+separator("4")
+twoProductsFamily([
  {
    title: "Compactadoras de suelo",
    link: "https://www.sullairargentina.com/equipos/movimiento-de-tierra/compactadoras-de-suelo/?utm_source=pardot",
  },
  {
    title: "Excavadoras",
    link: "https://www.sullairargentina.com/equipos/movimiento-de-tierra/excavadoras/?utm_source=pardot",
  },
])
+separator("4")
+twoProductsFamily([
  {
    title: "Minicargadoras",
    link: "https://www.sullairargentina.com/equipos/movimiento-de-tierra/minicargadoras/?utm_source=pardot",
  },
  {
    title: "Miniexcavadoras",
    link: "https://www.sullairargentina.com/equipos/movimiento-de-tierra/miniexcavadoras/?utm_source=pardot",
  },
])
+separator("4")
+twoProductsFamily([
  {
    title: "Motoniveladoras",
    link: "https://www.sullairargentina.com/equipos/movimiento-de-tierra/motoniveladoras/?utm_source=pardot",
  },
  {
    title: "Tiendetubos",
    link: "https://www.sullairargentina.com/equipos/movimiento-de-tierra/tiendetubos/?utm_source=pardot",
  },
])
+separator("4")
+twoProductsFamily([
  {
    title: "Topadoras",
    link: "https://www.sullairargentina.com/equipos/movimiento-de-tierra/topadoras/?utm_source=pardot",
  },
  {
    title: "Tractores",
    link: "https://www.sullairargentina.com/equipos/movimiento-de-tierra/Tractores/?utm_source=pardot",
  },
])
