extends ../../templates/layout

block main
  +separator("12")
  //- +paragraph("Hola, ")
  //- include ./compresores-de-aire
  //- include ./torres-de-iluminacion
  //- include ./grupos-electrogenos
  //- include ./manipuladores
  include ./movimiento-de-tierra
  //- include ./plataforma-trabajo-altura
  +separator("16")

