include ../../mixins/mixins

+title("Maximizá la eficiencia en tus proyectos en altura", "sm")
+separator("12")
+paragraph("Nuestras plataformas para trabajo en altura están diseñadas para <strong>reducir tiempos y costos operativos</strong> en sectores como construcción, industria, servicios y entretenimiento.")
+separator("20")
+threeBoxTextIcon([{
  title: "Seguridad y confiabilidad",
  text: "Equipos diseñados para garantizar operaciones seguras en diferentes entornos.",
  icon: "https://www2.sullairargentina.com/l/735253/2025-04-14/49fxf8/735253/1744640649B8lTsZAZ/PIC_escudo_check_verde_.png"
}, {
  title: "Amplia variedad",
  text: "Más de 40 modelos adaptados a diversas necesidades y alturas.",
  icon: "https://www2.sullairargentina.com/l/735253/2025-04-14/49fxpk/735253/1744643483kfosjZDm/PIC_circulos_verde.png"
}, {
  title: "Disponibilidad flexible",
  text: "Opciones de alquiler y venta, con equipos nuevos y usados para ajustarse a tus requerimientos.",
  icon: "https://www2.sullairargentina.com/l/735253/2025-04-14/49fxpn/735253/1744643483LjD5ROa2/PIC_doble_check_verde.png"
}])
+separator("20")
+paragraph("Contactános hoy para descubrir cómo nuestras soluciones en plataformas de trabajo en altura pueden optimizar tus proyectos:")
+separator("16")
+callToAction("Contáctanos", "https://www.sullairargentina.com/contacto/?utm_source=pardot")
+separator("20")
+paragraph("Conocé todas las opciones:", "lg")
+separator("16")
+twoProductsFamily([
  {
    title: "Elevadores personales",
    link: "https://www.sullairargentina.com/equipos/plataformas-para-trabajo-en-altura/elevadores-personales/?utm_source=pardot",
  },
  {
    title: "Plataformas verticales manuales",
    link: "https://www.sullairargentina.com/equipos/plataformas-para-trabajo-en-altura/plataformas-verticales-manuales/?utm_source=pardot",
  },
])
+separator("4")
+twoProductsFamily([
  {
    title: "Plumas articuladas diesel",
    link: "https://www.sullairargentina.com/equipos/plataformas-para-trabajo-en-altura/plumas-articuladas-diesel/?utm_source=pardot",
  },
  {
    title: "Plumas articuladas eléctricas",
    link: "https://www.sullairargentina.com/equipos/plataformas-para-trabajo-en-altura/plumas-articuladas-electricas/?utm_source=pardot",
  },
])
+separator("4")
+twoProductsFamily([
  {
    title: "Plumas compactas sobre orugas",
    link: "https://www.sullairargentina.com/equipos/plataformas-para-trabajo-en-altura/plumas-compactas-sobre-orugas/?utm_source=pardot",
  },
  {
    title: "Plumas telescópicas diesel",
    link: "https://www.sullairargentina.com/equipos/plataformas-para-trabajo-en-altura/plumas-telescopicas-diesel/?utm_source=pardot",
  },
])
+separator("4")
+twoProductsFamily([
  {
    title: "Tijeras eléctricas",
    link: "https://www.sullairargentina.com/equipos/plataformas-para-trabajo-en-altura/tijeras-electricas/?utm_source=pardot",
  },
  {
    title: "Tijeras todo terreno diesel",
    link: "https://www.sullairargentina.com/equipos/plataformas-para-trabajo-en-altura/tijeras-todo-terreno-diesel/?utm_source=pardot",
  },
])
