include ../../mixins/mixins

+title("Potenciá tus proyectos con iluminación de alto rendimiento", "sm")
+separator("12")
+paragraph("Nuestra flota de torres de iluminación incluye <strong>modelos móviles y estacionarios</strong> en versiones <strong>diésel y fotovoltaicas</strong>. Poseen sensores de luz y timer digital para encendido y apagado automático. Equipos compactos y de gran versatilidad ideales para proveer iluminación temporaria en cualquier entorno.")
+separator("20")
+threeBoxTextIcon([{
  title: "Diseño portátil",
  text: "Montadas sobre tráilers con rodado neumático para facilitar el transporte y posicionamiento en diferentes terrenos.",
  icon: "https://www2.sullairargentina.com/l/735253/2025-04-14/49fy1r/735253/1744648582HHLQQDQo/PIC_carreta_flecha_verde.png"
}, {
  title: "Operación eficiente",
  text: "Sensores crepusculares que automatizan el encendido y apagado, mejorando la eficiencia energética.",
  icon: "https://www2.sullairargentina.com/l/735253/2025-04-14/49fy1n/735253/1744648582ZskkRiSN/PIC_hoja_rayo_verde.png"
}, {
  title: "Cobertura amplia",
  text: "Capacidad para iluminar áreas de hasta 5.000 m², adaptándose a diversas necesidades operativas.",
  icon: "https://www2.sullairargentina.com/l/735253/2025-04-14/49fy1v/735253/1744648582ph4P7Ybl/PIC_panorama_verde.png"
}])
+separator("20")
+paragraph("Contactános hoy para conocer más sobre nuestras soluciones en torres de iluminación y cómo pueden potenciar tus proyectos:")
+separator("16")
+callToAction("Contáctanos", "https://www.sullairargentina.com/contacto/?utm_source=pardot")
+separator("20")
+paragraph("Conocé todas las opciones:", "lg")
+separator("16")
+twoProductsFamily([
  {
    title: "Fotovoltaica",
    link: "",
  },
  {
    title: "Diesel",
    link: "",
  },
])
