extends ../../templates/layout

block main
  +separator("12")
  +title("¡Gracias por visitarnos!")
  +separator("12")
  +imageSection("https://www2.sullairargentina.com/l/735253/2025-04-28/49h2zx/735253/1745857219czWGFt4N/IMG_maquinaria_amarilla.png")
  +separator("12")
  +paragraph("Nos alegra que te hayas acercado a nuestro stand en la expo. Pronto recibirás novedades y contenido exclusivo de tu interés. ")
  +separator("20")
  +paragraph("Suscribite y sumate a nuestra comunidad para enterarte de nuestras noticias.")
  +separator("16")
  +callToAction("Suscribirme", "https://www.sullairargentina.com/contacto/?utm_source=pardot ")
  +separator("12")
  table(border="0" cellpadding="0" cellspacing="0" style="width: 600px; background-color: #F1F1F1;" width="600" align="center" bgcolor="#F1F1F1" )
    tbody 
      tr 
        td 
          +separator("12")
          +twoArticlesBlog([{ title: "Compresores Oil Free", description: "Elimina la contaminación en el proceso de compresión de aire.", link: "https://www.sullairargentina.com/equipos/compresores-de-aire/compresores-oil-free/?utm_source=pardot", image: "https://www2.sullairargentina.com/l/735253/2025-04-28/49h36b/735253/1745860693MNzStSZt/IMG_generadores_gris.png"}, { title: "Compresores diesel portátiles",description: "Con transmisión directa entre el motor y la unidad compresora.", link: "https://www.sullairargentina.com/equipos/compresores-de-aire/portatiles/?utm_source=pardot", image: "https://www2.sullairargentina.com/l/735253/2025-04-29/49h7p8/735253/1745955366ytpBzjb4/IMG_compresor_portatil_montan__a.png"}])
          +separator("12")




