mixin legales 
  // Legales
  +appTable()
    tbody
      tr
        td(align='center')
          p(style='margin-bottom: 14px; margin-top: 14px;')
            span(style='font-size: 12px')
              span(style='font-family: arial, helvetica, sans-serif')
                span(style='color: #000000')
                  b Nuestra direcci&oacute;n
          p
            span(style='font-size: 12px')
              span(style='font-family: arial, helvetica, sans-serif')
                span(style='color: #000000')
                  | Sullair Argentina S.A. - Goncalves D&iacute;as 1145
                  br
                  | &#x9;&#x9;&#x9;Buenos Aires, C C1276ACQ - Argentina
          p.copyright
            span(style='font-size: 12px')
              span(style='font-family: arial, helvetica, sans-serif')
                span(style='color: #000000') Copyright &copy; 2024 Sullair Argentina S.A., Todos los derechos reservados. 
          p(style='margin-bottom: 14px; margin-top: 10px;')
            span(style='font-size: 12px')
              span(style='font-family: arial, helvetica, sans-serif')
                | &iquest;Quer&eacute;s modificar la forma en la que recib&iacute;s correos?
                br
                | &#x9;&#x9;&#x9;Pod&eacute;s 
                a(href='{{{EmailPreferenceCenter_67}}}' target='_blank') actualizar tus preferencias
                |  o 
                a(href='{{Unsubscribe}}' target='_blank') desuscribirte de esta lista