mixin sullairFooterDark
  // Footer
  +appTable('background-color: #2D2D2D;','center')
    tbody
      tr
        td(colspan='12' height='16') &nbsp;
      tr
        +colSeparator("188")
        td
          a(href='https://www.sullairargentina.com/')
            img(alt='' height='32' src='https://storage.pardot.com/735253/1727980897R3OSwAtU/home_icon.png' style='width: 32px; height: 32px;' width='32')
        td(width='16') &nbsp;
        td
          a(href='https://www2.sullairargentina.com/facebook')
            img(alt='' height='32' src='https://www2.sullairargentina.com/l/735253/2024-05-08/48g9h6/735253/1715180086LtBpr9sK/fb.png' style='width: 32px; height: 32px;' width='32')
        td(width='16') &nbsp;
        td
          a(href='https://www2.sullairargentina.com/youtube')
            img(alt='' height='32' src='https://www2.sullairargentina.com/l/735253/2024-05-08/48g9h3/735253/1715180086Ty8EJEnZ/yt.png' style='width: 32px; height: 32px;' width='32')
        td(width='16') &nbsp;
        td
          a(href='https://www2.sullairargentina.com/linkedin')
            img(alt='' height='32' src='https://www2.sullairargentina.com/l/735253/2024-05-08/48g9h9/735253/17151800865ZS952ph/in.png' style='width: 32px; height: 32px;' width='32')
        td(width='16') &nbsp;
        td
          a(href='https://www.instagram.com/sullairargentina/')
            img(alt='' height='32' src='https://www2.sullairargentina.com/l/735253/2024-05-08/48g9hd/735253/1715180086cKzLupDZ/ig.png' style='width: 32px; height: 32px;' width='32')
        +colSeparator("188")
      tr
        td(colspan='12' height='16') &nbsp;