mixin sullairFooterGreen
  // Sullair Footer Greeen
  table 
    tbody 
      tr
        td(style=`background-color: #008657` valign='middle')
          table(bgcolor=`#008657` border='0' cellpadding='0' cellspacing='0' style=`background-color: #008657;` valign='middle')
            tbody
              tr
                td(colspan='3' height='20') &nbsp;
              tr
                td
                  table(align=align border='0' cellpadding='0' cellspacing='0')
                    tbody
                      tr
                        td(width='24') &nbsp;
                        td
                          p(style=`color: white; font-family: Arial, Helvetica, sans-serif; font-weight: 400; font-size: 24px; margin: 0;`)
                            font(color='white' face='Arial, Helvetica, sans-serif')
                              | ¿Tenés dudas? Comunicate con nosotros?
                        td(width='24') &nbsp;
              tr
                td(colspan='3' height='28') &nbsp;
              tr
                td
                  table(border='0' cellpadding='0' cellspacing='0')
                    tbody
                      tr
                        td(width='24') &nbsp;
                        td
                          table(border='0' cellpadding='0' cellspacing='0') 
                            tbody 
                              tr 
                                td(style='padding: 0;')
                                  table(border='0' cellpadding='0' cellspacing='0' style='width: 24px; height: 24px;' width='24' height='24') 
                                    tr 
                                      td(style='padding: 0;')
                                        img(src="https://www2.sullairargentina.com/l/735253/2024-09-24/48swhv/735253/1727200702TZZnqVCz/fi_mail.png" width="24" height="24" style="width: 24px; height:24px" )
                                td(width="10") &nbsp;
                                td(style='padding: 0;')
                                  p(style=`color: white; font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: 400; line-height: 16px; margin: 0;`)
                                    font(color=`white` face='Arial, Helvetica, sans-serif' )
                                      | Envianos un mail y resolve tus dudas <a target="_blank" href="mailto:clientes@sullair.com.ar" style="color:white; text-decoration:none; font-weight:700">clientes@sullair.com.ar</a>
                          td(width='24') &nbsp;
              tr
                td(colspan='3' height='20') &nbsp;
              tr
                td
                  table(border='0' cellpadding='0' cellspacing='0')
                    tbody
                      tr
                        td(width='24') &nbsp;
                        td
                          table(border='0' cellpadding='0' cellspacing='0') 
                            tbody 
                              tr 
                                td(style='padding: 0;')
                                  table(border='0' cellpadding='0' cellspacing='0' style='width: 24px; height: 24px;' width='24' height='24') 
                                    tr 
                                      td(style='padding: 0;')
                                        img(src="https://storage.pardot.com/735253/1727200827Vz91YiVz/fi_call.png" width="24" height="24" style="width: 24px; height:24px" )
                                td(width="10") &nbsp;
                                td(style='padding: 0;')
                                  p(style=`color: white; font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: 400; line-height: 16px; margin: 0;`)
                                    font(color=`white` face='Arial, Helvetica, sans-serif' )
                                      | ¿Preferis llamarnos? Hacelo al <a target="_blank" href="tel:0810-777-0707" style="color:white; text-decoration: none; font-weight:700">0810-777-0707</a>
                          td(width='24') &nbsp;
              tr
                td(colspan='3' height='20') &nbsp;
              tr
                td
                  table(border='0' cellpadding='0' cellspacing='0')
                    tbody
                      tr
                        td(width='24') &nbsp;
                        td
                          table(border='0' cellpadding='0' cellspacing='0') 
                            tbody 
                              tr 
                                td(style='padding: 0;')
                                  table(border='0' cellpadding='0' cellspacing='0' style='width: 24px; height: 24px;' width='24' height='24') 
                                    tr 
                                      td(style='padding: 0;')
                                        img(src="https://storage.pardot.com/735253/1725468375fQzkZGg2/IMG_clock_white.png" width="24" height="24" style="width: 24px; height:24px" )
                                td(width="10") &nbsp;
                                td(style='padding: 0;')
                                  p(style=`color: white; font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: 400; line-height: 16px; margin: 0;`)
                                    font(color=`white` face='Arial, Helvetica, sans-serif' )
                                      | Horario de atención: <strong style="color:white">Lunes a Viernes de 8 a 18 hs.</strong>
                          td(width='24') &nbsp;
              tr
                td(colspan='3' height='20') &nbsp;
              tr
                td
                  table(border='0' cellpadding='0' cellspacing='0')
                    tbody
                      tr
                        td(width='24') &nbsp;
                        td
                          table(border='0' cellpadding='0' cellspacing='0') 
                            tbody 
                              tr 
                                td(style='padding: 0;')
                                  table(border='0' cellpadding='0' cellspacing='0' style='width: 24px; height: 24px;' width='24' height='24') 
                                    tr 
                                      td(style='padding: 0;')
                                        img(src="https://storage.pardot.com/735253/17272007757YGitSsr/u_whatsapp.png" width="24" height="24" style="width: 24px; height:24px" )
                                td(width="10") &nbsp;
                                td(style='padding: 0;')
                                  p(style=`color: white; font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: 400; line-height: 16px; margin: 0;`)
                                    font(color=`white` face='Arial, Helvetica, sans-serif' )
                                      | Envíanos un mensaje por Whatsapp al <a target="_blank" href="https://api.whatsapp.com/send?phone=5491127450000" style="color:white; text-decoration:none; font-weight:700 ">+54 9 11 2745-0000</a>
                          td(width='24') &nbsp;
              tr
                td(colspan='3' height='20') &nbsp;