mixin blogArticle(title, text, image, link)
  //Blog Article
  +appTable()
    tbody
      tr
        +colSeparator("16")
        td
          a(target='_blank' href=link style='text-decoration: none;')
            img(src=image alt='' width='270' height='auto' style="width: 270px;")
        +colSeparator("20")
        td
          table(border='0' cellpadding='0' cellspacing='0' width="262" style="width: 262px;")
            tr 
              +text(title, "20px", "400")
            tr 
              td(style="height: 8px; line-height: 8px;") &nbsp;
            tr
              +text(text, "14px")
            tr
              td
                a(target='_blank' href=link style='text-decoration: none;')
                  table(style="margin-top: 16px;")
                    tbody
                      tr
                        td
                          p(style='color: #2D2D2D; font-family: Arial, Helvetica, sans-serif; font-size: 18px; line-height: 24px; margin: 0;')
                            font(color='#2D2D2D' face='Arial, Helvetica, sans-serif')
                              | Continuar leyendo
                        td
                          img(src='https://storage.pardot.com/735253/1729178565ppcPfNBL/fi_arrow_right.png' alt='')
        td(width='24') &nbsp;