//- Types of titles lg | md | sm
//- Font weight normal | bold
//- Example: +title('Title', 'md', 'normal')
- var paragraphFontSize = { lg: "20px", md: "16px", sm: "14px" }
- var paragraphFontWeight = { normal: "400", bold: "700" }
- var paragraphLineHeight = { lg: "30px", md: "24px", sm: "21px" }
mixin paragraph(text, size="md", weight="normal", align="left")
  // Paragraph
  +appTable(style="", align=align)
    tbody
      tr
        td(width='24') &nbsp;
        td(style="padding: 0; margin: 0; line-height: 0;")
          p(style=`color: #2D2D2D; font-family: Arial, Helvetica, sans-serif; font-size: ${paragraphFontSize[size]}; font-weight:${paragraphFontWeight[weight]}; line-height: ${paragraphLineHeight[size]}; margin: 0; padding: 0; mso-line-height-rule: exactly;`)
            font(color='#2D2D2D' face='Arial, Helvetica, sans-serif' style=`margin: 0; padding: 0; display: inline-block;`)
              != text
        td(width='24') &nbsp;