mixin sullairAdvantages(content)
  // Box 1
  table(cellspacing="0" cellpadding="0" border="0" width="600" style="width: 600px;") 
    tbody 
      tr 
        +colSeparator()
        +boxTextIcon("Respaldo", "Amplia red de servicio postventa, garantizando continuidad y eficiencia en el uso de los equipos", "https://storage.pardot.com/735253/1729187635fr5JFaBz/IMG_shield_icon.png")
        +colSeparator("16")
        +boxTextIcon("Más opciones", "Tenemos la flota más moderna, diversa y amplia del país.", "https://storage.pardot.com/735253/1729190629HEgNtIk9/IMG_circules_icon.png")
        +colSeparator()
  +separator("20")
  // Box 2
  table(cellspacing="0" cellpadding="0" border="0" width="600" style="width: 600px;") 
    tbody 
      tr 
        +colSeparator()
        +boxTextIcon("Control Total", "Gestioná el uso y rendimiento de tus equipos con Sullair Go, nuestra plataforma digital. ", "https://storage.pardot.com/735253/1729190629q4RwTfD9/IMG_settings_icon.png")
        +colSeparator("16")
        +boxTextIcon("Disponibilidad inmediata", "Podés alquilar equipos rápidamente.", "https://storage.pardot.com/735253/1729190629jkUiBR29/IMG_timer_icon.png")
        +colSeparator()