mixin textList(items)
  // Text List
  +appTable()
    tbody
      tr
        td
          ul(style='margin-top: 0; margin-bottom:0')
            each item in items
              li 
                p(style='color: #2D2D2D; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; font-weight: 400; margin: 0;')
                  font(color='#2D2D2D' face='Arial, Helvetica, sans-serif')
                    | #{item}