mixin twoArticlesBlog(items)
  // Two Articles Blog
  table(border='0' align='center' cellpadding='0' cellspacing='0' style='width: 600px;' width='600')
    tbody 
      tr
        +colSeparator('24')
        td 
          +cardBlogArticle(items[0].image, items[0].title, items[0].description, items[0].link, "268")
        +colSeparator('16')
        td 
          +cardBlogArticle(items[1].image, items[1].title, items[1].description, items[1].link, "268")
        +colSeparator('24')



