+appTable()
  tr
    td(height='66' width='600')
      div(style='text-align: center;')
        span(style='font-size:10px;')
          span(style='font-family:Arial,Helvetica,sans-serif;')
            span(style='text-align: center;')
              | Si ten&eacute;s problemas para visualizar este email, hac&eacute; click 
              a(href='{{View_Online}}') ac&aacute;
  tr
    td(height='66' width='600')
      img(alt='Sullair Argentina' height='66' src='https://www2.sullairargentina.com/l/735253/2024-08-28/48qk77/735253/17248758731tNzKdDi/green_header.png' style='display: block;' width='600')