-
  //- Three Cards Images and Links
  const familias_1 = [
    { 
     image: "https://www2.sullairargentina.com/l/735253/2024-10-17/48w4b1/735253/1729179893SvKAKRRP/IMG_label_aire.png",
     link: "https://bit.ly/4eEacaX"
    },
    { 
      image: "https://storage.pardot.com/735253/1729179893Q1zW4Zzu/IMG_label_energia.png", 
      link: "https://bit.ly/4fB8E2A" 
    },
    { 
      image: "https://storage.pardot.com/735253/1729179894FBC0zwqr/IMG_label_tierra.png", 
      link: "https://bit.ly/40SY0zC" 
    }]

  const familias_2 = [
    { image: "https://storage.pardot.com/735253/1729179894Cw0G1e2U/IMG_label_manipuladores.png", 
      link: "https://bit.ly/40TEsen"
    }, 
    { 
      image: "https://storage.pardot.com/735253/1729179894zvLeH9ue/IMG_label_plataformas.png", 
      link: "https://bit.ly/4hWPypi"
    },
    { 
      image: "https://storage.pardot.com/735253/1729179893NZalLWRR/IMG_label_iluminacion.png", 
      link: "https://bit.ly/3YT93q1"
    }]


  //- Equipo listo para asesorarte
  const crosselingBenefits= [
    {
      icon: "https://storage.pardot.com/735253/1729190629HEgNtIk9/IMG_circules_icon.pngblanco_fonde_verde.png",
      text: "+1200 equipos disponibles para tu proyecto"
    },
    {
      icon: "https://storage.pardot.com/735253/1729190629HEgNtIk9/IMG_circules_icon.pngo_fondo_verde.png",
      text: "Atención a todo Neuquén y Alto Valle"
    },
    {
      icon: "https://www2.sullairargentina.com/l/735253/2024-12-27/494462i/735253/1735319428vINS8dVz/PIC_herramienta_blanco_fondo_verde.png",
      text: "Servicio técnico especializado"
    },
    {
      icon: "https://www2.sullairargentina.com/l/735253/2024-12-27/49445y/735253/1735319428896U6qN1/PIC_caja_blanco_fondo_verde.png",
      text: "Disponibilidad inmediata de repuestos originales"
    }
  ]
  const saltaBenefits= [
    {
      icon: "https://www2.sullairargentina.com/l/735253/2025-01-21/495kmm/735253/1737464882zbc5BRov/PIC_mapa_ping_blanco_fondo_verde.png",
      text: "Atención en todo el Noroeste Argentino"
    },
    {
      icon: "https://www2.sullairargentina.com/l/735253/2024-12-27/494468i/735253/17353194285lLk0cU5/PIC_usuario_blanco_fondo_verde.png",
      text: "Servicio Técnico especializado"
    },
    {
      icon: "https://www2.sullairargentina.com/l/735253/2025-01-21/495kmq/735253/17374648825kEynlMo/PIC_reloj_blanco_fondo_verde.png",
      text: "Disponibilidad inmediata de repuestos originales"
    },
    {
      icon: "https://storage.pardot.com/735253/1737464881GLg0rVdF/PIC_caminon_blanco_fondo_verde.png",
      text: "Customización de equipos para proyectos mineros"
    }
  ]

  //- Familia de productos
  const familiaBenefits = [
    {
      title: "",
      text: "Utilizás el equipo adecuado cada vez que lo necesitás.",
      icon: "https://storage.pardot.com/735253/8053/checked.png"
    },
    {
      title: "",
      text: "Disminuís la inversión en activos.",
      icon: "https://www2.sullairargentina.com/l/735253/2025-01-07/494lh2/735253/1736263113qlFNzB1C/PIC_dinero_verde_flecha.png"
    },
    {
      title: "",
      text: "Cumplís los cronogramas con productividad, seguridad y eficiencia.",
      icon: "https://www2.sullairargentina.com/l/735253/2025-01-07/494lh5/735253/1736263113mmlLrVOD/PIC_calendario_verde_check.png"
    },
    {
      title: "",
      text: "Evitás los costos de mantenimiento.",
      icon: "https://www2.sullairargentina.com/l/735253/2025-01-07/494lh8/735253/1736263114pqgqZRBV/PIC_herramienta_verde.png"
    },
    {
      title: "",
      text: "Gestioná los datos de tus equipos a través de Sullair GO",
      icon: "https://storage.pardot.com/735253/1729190629q4RwTfD9/IMG_settings_icon.png"
    },
    {
      title: "",
      text: "Contás con el respaldo de Sullair Argentina.",
      icon: "https://www2.sullairargentina.com/l/735253/2025-01-07/494lgy/735253/1736263113eW1fCYLm/PIC_audifonos_verde.png"
    }]

    //- Familia de productos 01
  const familia_de_productos_01_list = [
    {
      icon: "https://www2.sullairargentina.com/l/735253/2025-01-09/494tlr/735253/1736481544Vwpd2BcH/PIC_usuarios_circular_verde_fondo_verde.png",
      text: "<strong>Asistencia:</strong> Nos instalamos en la obra dando soporte con repuestos y apoyo técnico inmediato."
    },
    {
      icon: "https://www2.sullairargentina.com/l/735253/2025-01-09/494tlg/735253/1736481544al3UVeIs/PIC_flechas_circular_verde_fondo_verde.png",
      text: "<strong>Actualización:</strong> Observamos prácticas y tendencias y las adaptamos a tus necesidades."
    },
    {
      icon: "https://www2.sullairargentina.com/l/735253/2025-01-09/494tlk/735253/1736481544wFVmByuA/PIC_galardon_circular_verde_fondo_verde.png",
      text: "<strong>Garantía:</strong> Certificación de fabricantes para operación y reparación de equipos especializados."
    },
    {
      icon: "https://www2.sullairargentina.com/l/735253/2025-01-09/494tl8/735253/1736481544bApmUzLs/PIC_documento_circular_verde_fondo_verde.png",
      text:"<strong>Disponibilidad:</strong> Controles estrictos durante el mantenimiento preventivo que aseguran un alto estándar de equipos en obras."
    },
    {
      icon: "https://www2.sullairargentina.com/l/735253/2025-01-09/494tlc/735253/1736481544TH2WuvgR/PIC_estrella_circular_verde_fondo_verde.png",
      text: "<strong>Confiabilidad:</strong> Una flota de equipos de 2,5 años de antigüedad promedio."
    },
    {
      icon: "https://www2.sullairargentina.com/l/735253/2025-01-09/494tln/735253/1736481544zVzclThv/PIC_herramienta_circular_verde_fondo_verde.png",
      text: "<strong>Customización:</strong> Desarrollamos aplicaciones particulares de acuerdo a los requerimientos que surjan."
    },
    {
      icon: "https://www2.sullairargentina.com/l/735253/2025-01-09/494tl5/735253/1736481544KGZKcAKG/PIC_escudo_circular_verde_fondo_verde.png",
      text: "<strong>Seguridad y medio ambiente:</strong> Alcanzamos las más altas exigencias internacionales."
    }
  ]
     //- Blog de productos 02
  const blogArticles1 = [
    {
      image: "https://www2.sullairargentina.com/l/735253/2024-10-17/48w4q7/735253/1729189587NpawSHIh/IMG_tractor_amarillo_camion.png",
      text: "Confiabilidad y rápida respuesta: Factores clave para NRG Argentina.",
      link: "https://blog.sullairargentina.com/articulo/167/confiabilidad-y-rapida-respuesta-la-formula-de-sullair-para-el-sector-minero/?utm_source=pardot"
    },
     {
      image: "https://storage.pardot.com/735253/173648462928vqLgjG/IMG_concierto_fiesta_fin_de_an__o.png",
      text: "Alquiler de maquinaria en la Fiesta de la Confluencia.",
      link: "https://www.youtube.com/watch?v=lJJ1mMdtJ1U?utm_source=pardot"
    }
  ]
