extends ../../templates/layout-dam

block main
  +separator("32")
  +title("¡Hola [Nombre de usuario]!")
  +separator("16")
  +paragraph("Recibimos una solicitud para restablecer la contraseña de tu cuenta.")
  +separator("20")
  +paragraph("Para crear una nueva contraseña, simplemente hace clic en el botón a continuación:")
  +separator("32")
  +appTable()
    tbody 
      tr 
        td 
          table(align="left" border="0" cellpadding="0" cellspacing="0")
            tbody
              tr 
                +colSeparator()
                td(align='center' style='border-radius: 5px; background-color: #008657; border-color: #008657; border-style: solid; border-width: 1px; height: 42px; width: 210px; color: #ffffff;')
                  a(href=link rel='noopener' style='width: 210px; background-color: #008657; font-size: 16px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; font-weight: bold; text-decoration: none; border-radius: 5px; padding: 12px; border: 1px solid #008657; display: inline-block;' target='_blank')
                    strong(style='font-weight:bold; color: #ffffff;')
                      span(style='text-decoration:none; color: #ffffff;')
                        | Reestablecer contraseña
                +colSeparator()
  +separator("48")
  +paragraph("Este enlace expirará en 24 horas por motivos de seguridad.")
  +separator("24")
  +paragraph("Si no solicitaste este cambio, podés ignorar este correo y tu contraseña actual seguirá siendo válida.")
  +separator("24")
  +paragraph("¿Necesitás ayuda? Contáctanos en [correo de soporte].")
  +separator("24")
  +paragraph("Saludos,")
  +paragraph("El equipo de DAM")

    


    

